:root {
    --tan: #ffebcd;
    --grn: #8fbc8f;
    --pnk: #E9967A;
    --orng: #ff8c00;
  }
  
  body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    /* use CSS var() function to reference a variable created above */
    background-color: var(--dark);
    color: var(--light);
  }

  
  h1 {
    font-size: 200%;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: var(--grn);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 250%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    background-color: unset;
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--light);
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
  }
  
  article {
    /* If we were to change the value of `--dark`, then all references to it would change automatically */
    border-bottom: 1px solid var(--dark);
  }
  
  article p {
    margin: 2% 0;
    font-size: 110%;
  }
  
  article ul {
    margin-left: 5%;
    font-size: 110%;
    list-style: circle;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--dark);
    color: var(--light);
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  
